body {
  font-family: source-sans-pro, serif;
  max-width: 900px;
  margin: 0 auto;
}

img {
	max-width: 100%;
	width: 900px;
}

figcaption{
	text-align: center;
	font-style: italic;
}

h1,h2,h3{
	color: #00A4E4;
}

aside{
	margin: 0 40px;
	border: 1px solid #00A4E4;
	background-color: #CCCCCC;
	border-radius: 8px;
	padding: 0px 10px;
	box-shadow: 3px 3px 5px #555555;
}

dt{
	color: #00A4E4;
}
dd{
	font-style: italic;
}