*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#halloffame{
	width: 33%;
	float:left;
	padding-right: 10px;

}

#hallofshame{
	width: 33%;
	float:left;
	padding-right: 10px;
}

#description{
	width: 33%;
	float:left;
	padding: 10px 30px;
	line-height: 1.3;
}


body{ 
	height: 100%;
}


nav ul li a{
	width: 25%;
	float: left;
}

nav ul:after{
  content: "";
  display: block;
  clear: both;
}
