@media all and (max-width: 850px) {
    body{
        max-width: 100%;
    }
	#description{
		width: 100%;
	}
    #hallofshame, #halloffame{
		width: 50%;
	}
}

@media all and (max-width: 550px) {
    #hallofshame, #halloffame{
		width: 100%;
	}
    nav ul li a{
		width: 100%;
	}
    
    nav ul {
        padding: 0;
    }
    
    h1{
        font-size: 4em;
    }
    
    #description p{
        font-size: 3em;
    }
    h2{
        font-size: 3.5em;
    }    

}